
body {
	background: #454372;
}

body, #root {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	position: absolute;
	box-sizing: border-box;
	font-family: monospace;
	min-height: 100vh;
	min-width: 100vw;
	color: #fff;
}
